{% if page.show_banner -%}
  {% comment %}
    For headings use <h3> elements.
    Note that tabbed pages will NOT work correctly if no banner is present.
    https://github.com/flutter/website/issues/3897
  {% endcomment %}
  <div class="site-banner site-banner--default" role="alert">
    <a href="https://flutter.cn/posts/introducing-flutter-3">Flutter 3</a>、<a href="https://flutter.cn/posts/dart-2-17">Dart 2.17</a> 现已发布，邀请 <a href="https://flutter.cn/urls/survey-22-q2" target="_blank">参与 2022 第二季度 Flutter 开发者调查</a>。<br />
    活动报名 - <a href="https://flutter.cn/urls/soa-s5-website" target="_blank">谷歌应用出海计划正式开启</a>。
  </div>
{% endif -%}
