{% if page.show_banner -%}
  {% comment %}
    For headings use <h3> elements.
    Note that tabbed pages will NOT work correctly if no banner is present.
    https://github.com/flutter/website/issues/3897
  {% endcomment %}
  {% comment %}
    <a href="https://flutter.cn/posts/announcing-the-flutter-casual-games-toolkit">Flutter 休闲游戏工具包发布</a>，
    查看我们是如何构建 <a href="https://flutter.cn/posts/i-o-pinball">Flutter 弹珠游戏</a> 的。
  {% endcomment %}     
  <div class="site-banner site-banner--default" role="alert">
    Google 上海 Payments 团队正在招募 Flutter 工程经理，<a href="https://flutter.cn/urls/payments-flutter-hc" target="_blank">职位详情</a>。
  </div>
{% endif -%}
