{% if page.show_banner -%}
  {% comment %}
    For headings use <h3> elements.
    Note that tabbed pages will NOT work correctly if no banner is present.
    https://github.com/flutter/website/issues/3897
    Header doesn't support markdown, please use HTML only.
  {% endcomment %}
  <div class="site-banner site-banner--default" role="alert">
    <a href="https://flutter.cn/events/flutter-forward" target="_blank">注册 2023 年 1 月 25 日的 Flutter Forward 大会</a>，了解 Flutter 将如何进一步推动 UI 开发。
  </div>
{% endif -%}
