<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/assets/images/branding/flutter/logo/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="/tos" class="text-nowrap">使用条款</a></li>
              <li><a href="/brand" class="text-nowrap">品牌指南</a></li>
              <li><a href="/security" class="text-nowrap">安全性</a></li>
              <li><a href="https://policies.google.cn/privacy?hl=zh-CN" class="text-nowrap">隐私权说明</a></li>
              <li><a href="https://flutter.dev/" class="text-nowrap">官方网站</a></li>
              <li><a href="/disclaimer" class="text-nowrap">免责声明</a></li>
          </ul>
          <p class="licenses">
            引用中文内容需注明本站及链接作为出处，英文内容和示例代码均遵从源站授权协议。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
