<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/images/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="https://groups.google.com/forum/#!forum/flutter-dev">{{ site.email  | regex_replace: '(.*?@).*', '\1' }}</a></li>
              <li><a href="/tos" class="text-nowrap">使用条款</a></li>
              <li><a href="/brand" class="text-nowrap">品牌指南</a></li>
              <li><a href="/security" class="text-nowrap">安全性</a></li>
              <li><a href="https://policies.google.cn/privacy?hl=zh-CN" class="text-nowrap">隐私权说明</a></li>
              <li><a href="https://flutter-es.io/" class="text-nowrap">西班牙语文档</a></li>
              <li><a href="https://flutter.dev/" class="text-nowrap">官方英文网站</a></li>
              <li><a href="https://flutter.cn" class="text-nowrap">社区中文资源</a></li>
              <li><a href="/disclaimer" class="text-nowrap">免责声明</a></li>
              
          </ul>

          <p class="licenses">
            除非特别说明，否则本站内容采用 <a rel="license" href="https://creativecommons.org/licenses/by/4.0">署名 4.0 国际</a>协议，所有范例代码都采用 BSD 授权协议。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
