{% assign repo = repo | default: site.repo.this -%}
{% capture pageSource -%} {{repo}}/tree/{{site.branch}}/{{page.inputPath | replace: './', ''}} {%- endcapture -%}
{% assign siteTitle = title | default: page.url | escape -%}
{% assign url = site.url | append: page.url -%}

<p id="page-github-links">
  <span>
    除非另有说明，本文档之所提及 适用于 Flutter 的最新稳定版本，本页面最后更新时间: {{page.date | toSimpleDate}}。
  </span>
  <a href="{{pageSource}}" target="_blank" rel="noopener">查看文档源码</a>
  <span> 或者 </span>
  <a href="{{repo}}/issues/new?template=1_page_issue.yml&page-url={{url}}&page-source={{pageSource}}" title="为本页面内容提出建议" target="_blank" rel="noopener">为本页面内容提出建议</a>。
</p>
