{% assign repo = repo | default: site.repo.this -%}
{% capture pageSource -%} {{repo}}/tree/{{site.branch}}/{{page.inputPath | replace: './', ''}} {%- endcapture -%}
{% assign siteTitle = title | default: page.url | escape -%}
{% assign url = site.url | append: page.url -%}

<p id="page-github-links">
  <span>
    <t>Unless stated otherwise, the documentation on this site reflects the latest stable version of Flutter. Page last updated on {{page.date | toSimpleDate}}.</t>
    <t>除非另有说明，本网站文档都将基于 Flutter 的最新稳定版本。页面最近更新于 {{page.date | toSimpleDate}}。</t>
  </span>
  <a href="{{pageSource}}" target="_blank" rel="noopener"><t>View source</t><t>查看文档源码</t></a>
  <span> <t>or</t><t>或者</t> </span>
  <a href="{{repo}}/issues/new?template=1_page_issue.yml&page-url={{url}}&page-source={{pageSource}}" title="为本页面内容提出建议" target="_blank" rel="noopener"><t>report an issue</t><t>为本页面内容提出建议</t></a>。
</p>
