{% if page.diff2html -%}
{% comment %}Get from CDN for now{% endcomment -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/github.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/diff2html@2.4.0/dist/diff2html.min.css">
<script src="https://cdn.jsdelivr.net/npm/diff2html@2.4.0/dist/diff2html.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/diff2html@2.4.0/dist/diff2html-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/languages/dart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/languages/yaml.min.js"></script>
<script>$(document).ready(function() {
  var diff2htmlUi = new Diff2HtmlUI();
  diff2htmlUi.highlightCode(".d2h-wrapper");
});</script>
{% endif -%}
