<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  {% include head.html -%}

  <body {%- if page.body_class %} class="{{ page.body_class }}" {%- endif %}>
    {% include body.html -%}

    <div id="overlay-under-drawer">
      {%- comment %} For the drawer on narrow screens {% endcomment -%}
    </div>

    {% include header.html -%}

    {% include banner.html -%}

    {{ content }}

    {%- include footer.html %}

    <script>
      (function(){
          var bp = document.createElement('script');
          var curProtocol = window.location.protocol.split(':')[0];
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(bp, s);
      })();
      </script>
      <!-- add baidu push script for a better seo at baidu -->
  </body>
</html>
