{% assign cache_bust = '?v=7' %}
{% assign page_url = page.url | regex_replace: '/index$|/index.html$|\.html$|/$' -%}

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>{% if short-title %}{{short-title}}{% else %}{{title}}{% endif %} | {{site.title}}</title>
    <link rel="icon" href="/assets/images/cn/flutter-icon.png">
    <link rel="apple-touch-icon" href="/assets/images/cn/flutter-320px.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if noindex -%}
    <meta name="robots" content="noindex">
    {% endif -%}

    {% unless strip_fonts == true -%}
    <link rel="preconnect" href="https://fonts.googleapis.cn">
    <link rel="preconnect" href="https://fonts.gstatic.cn" crossorigin>
    {% endunless -%}

    {%- if isProduction == true -%}
      <!-- Starting the Analysis Code  -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_manager_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_tag_manager_id }}');
      </script>
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu_analytics_id }}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      </script>
    <!-- Ending the Analysis Code  -->
    {% endif -%}

    {% assign desc = description | default: site.description | strip_html | strip_newlines | truncate: 160 -%}
    {% unless desc and desc != '' or page.url contains '/posts' or page.url contains '/community' -%}
      {% assign error = page.url | append: ' must have a description specified!' -%}
      {{ error | throw_error }}
    {% endunless %}

    {% assign og_image_path = image.path | default: layout.image.path | default: site.default_share_image -%}

    <meta name="description" content="{{desc | escape}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@flutterchina">

    <meta property="og:title" content="{{title | escape}}">
    <meta property="og:url" content="{{site.url | append: page_url}}">
    <meta property="og:description" content="{{desc | escape}}">
    <meta property="og:image" content="{{site.url | append: og_image_path}}">

    {% unless strip_fonts == true -%}
    <link rel="preconnect" href="{{site.flutter-files-cn}}">
    <link href="{{site.flutter-files-cn}}/fonts/flutter/fonts.css" rel="stylesheet">
    <link href="{{site.flutter-files-cn}}/fonts/material-icons/material-icons-symbols-outlined.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" /> -->
    {% endunless -%}

    <script>
      window.__CALLBACKS = [];
    </script>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | append: cache_bust }}">
    {% if css -%}
    {% for cssFile in css -%}
      {% assign asset_path = '/assets/css/{{cssFile}}' -%}
      <link rel="stylesheet" href="{{ asset_path | append: cache_bust }}">
    {% endfor -%}
    {% endif -%}
  </head>
  <body class="show-windows {% if body_class %}{{ body_class }}{% endif %}">

<!--    {% render cookie-notice.html %}-->

    {%- if isProduction == true -%}
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}"
        height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    {% endif -%}

    {% include header.html %}

    <div id="site-below-header">

    {{ content }}

    {% render footer.html %}

    </div>

    {% comment %}
      This script is used to set the theme based on the user's
      previously selected theme.
      It is inline in the HTML to avoid theme flashing.
    {% endcomment %}
    <script>
      const storedTheme = window.localStorage.getItem('theme') ?? 'light-mode';

      if (storedTheme === 'auto-mode') {
        document.body.classList.add(
            'auto-mode',
            window.matchMedia('(prefers-color-scheme: dark)').matches
                ? 'dark-mode' : 'light-mode'
        );
      } else {
        document.body.classList.add(storedTheme);
      }
    </script>
    <script src="{{ '/assets/js/tabs.js' | append: cache_bust }}"></script>
    <script src="{{ '/assets/js/archive.js' | append: cache_bust }}"></script>
    <script src="{{ '/assets/js/main.js' | append: cache_bust }}"></script>

    {% if js -%}
    {% for jsFile in js -%}
      <script src="{{ jsFile.url | default: js }}" {% if jsFile.defer %}defer{% endif %}></script>
    {% endfor -%}
    {% endif -%}

    <script type="module" src="{{site.flutter-files-cn}}/static/deps/lite-youtube/1.8.1/lite-youtube.js" integrity="sha256-dSKwIYLvKdlkLGLp9ZRLJilBuGFSM5beizYOSvK1LeQ=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
