<!DOCTYPE html>
<html lang="zh-Hans">
  {% include head.html -%}

  <body {%- if page.body_class %} class="{{ page.body_class }}" {%- endif %}>
    {% include body.html -%}

    <div id="overlay-under-drawer">
      {%- comment %} For the drawer on narrow screens {% endcomment -%}
    </div>

    {% include header.html -%}

    {% include banner.html -%}

    {{ content }}

    {% if page.show_footer -%}
      {%- include footer.html %}
    {% endif %}
    <!--<script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=at3ul57xpub2vk3oxt2ytw365i"></script>-->
    <!-- Search Engine Pings START-->
    <script>
      (function(){
          var bp = document.createElement('script');
          var curProtocol = window.location.protocol.split(':')[0];
          if (curProtocol === 'https') {
              bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else {
              bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(bp, s);
      })();
    </script>
    <script>
      (function(){
      var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
      document.write('<script src="' + src + '" id="sozz"><\/script>');
      })();
    </script>
    <!-- Search Engine Pings END-->
  </body>
</html>
