[translation-origin=on] {
    border-top: 1px dashed lightgray !important;
    font-family: "Google Sans", "Helvetica Neue", "Helvetica", Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

[translation-origin=off] {
    display: none !important;
}

h1[translation-result] + h1[translation-origin=on] {
    margin-top: -24px;
}

h2[translation-result] + h2[translation-origin=on] {
    margin-top: -12px;
}
