name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"

# Declare default permissions as read only.
permissions: read-all

env:
  NODE_ENV: production
  NODE_VERSION: 18

jobs:
#  test:
#    runs-on: ubuntu-latest
#    if: github.repository == 'cfug/flutter.cn'
#    strategy:
#      fail-fast: false
#      matrix:
#        include:
#          - name: "Beta channel"
#            branch: beta
#            experimental: true
#          - name: "Stable channel"
#            branch: stable
#            experimental: false
#    steps:
#      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
#        with:
#          submodules: recursive
#      - name: Move docs
#        run: make move-docs
#      - name: Test
#        run: make test FLUTTER_TEST_BRANCH=${{ matrix.branch }}
#        continue-on-error: ${{ matrix.experimental }}
#
#  deploy:
#    needs: test
#    runs-on: ubuntu-latest
#    if: |
#      github.event_name == 'push'
#      && github.ref == 'refs/heads/master'
#      && github.repository == 'cfug/flutter.cn'
#    steps:
#      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
#        with:
#          submodules: recursive
#      - name: Move docs
#        run: make move-docs
#      - name: Build site and check links
#        run: make build
#      - name: Install Node for Firebase install
#        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
#        with:
#          node-version: ${{ env.NODE_VERSION }}
#      - name: Install Firebase CLI
#        run: npm install -g firebase-tools@11.16.0
#      - name: Deploy
#        run: make deploy
#        env:
#          DEPLOY_TOKEN: ${{ secrets.CHENGLU_DEPLOY_KEY }}

  test_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          submodules: recursive
      - name: Move docs
        run: make move-docs
      - name: Build site and check links
        run: make build
