name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"

# Declare default permissions as read only.
permissions: read-all

env:
  NODE_ENV: production
  NODE_VERSION: 17

jobs:

  test:
    runs-on: ubuntu-latest
    if: github.repository == 'cfug/flutter.cn'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Beta channel"
            branch: beta
            experimental: true
          - name: "Stable channel"
            channel: stable
            experimental: true
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      with:
          submodules: recursive
      - name: Move docs
        run: make move-docs
      - name: Test
        run: make test FLUTTER_TEST_BRANCH=${{ matrix.branch }}
        continue-on-error: ${{ matrix.experimental }}

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push'
      && github.ref == 'refs/heads/master'
      && github.repository == 'cfug/flutter.cn'
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          submodules: recursive
      - name: Build site and check links
        run: make build
      - name: Install Node for Firebase install
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Move docs
        run: make move-docs
      - name: Update path
        run: echo "./node_modules/.bin/" >> $GITHUB_PATH
      - name: Build
        run: make build
        env:
          DISABLE_TESTS: 1
      - name: Deploy
        run: make deploy
        env:
          DEPLOY_TOKEN: ${{ secrets.CHENGLU_DEPLOY_KEY }}
