name: Check links and link references

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Declare default permissions as read only.
permissions: read-all

jobs:
  check_link_references:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          submodules: "recursive"
      - name: Move docs
        run: make move-docs
      - name: Build and check links
        run: make build # Runs tool/check-links.sh as part of build
