name: Stage site on Firebase

on:
  pull_request:
    branches:
      - main

# Declare default permissions as read only.
permissions: read-all

env:
  NODE_VERSION: 20

jobs:
  stage:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == 'cfug/flutter.cn' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
          # docs.flutter.cn | https://github.com/cfug/flutter.cn/pull/1518
          fetch-depth: 0
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
      - name: Setup pnpm
        run: corepack install
      - name: Install node dependencies
        run: pnpm install --frozen-lockfile
      - uses: dart-lang/setup-dart@e630b99d28a3b71860378cafdc2a067c71107f94
        with:
          sdk: beta
      - name: Fetch Dart dependencies
        run: dart pub get
      - name: Build site
        run: dart run flutter_site build --release
      - name: Translated (docs.flutter.cn)
        run: bash tool/translator/build.sh
        shell: bash
      - name: Stage
        if: ${{
          github.repository == 'cfug/flutter.cn' &&
          github.event.pull_request.user.login != 'dependabot[bot]' }}
        uses: cfug/doc-site-preview-in-pr@main
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FLUTTER_CN_DOCS_PROD }}'
          expires: 14d
          projectId: flutter-cn-docs-prod
          showDetailedUrls: true
          fileExtensionFilter: "md, html"
          originalPath: "src/content/"
          replacedPath: "/"
          
